@import "../../fonts";

.action-item {
  position: relative;
  @include font-nunito-regular;
  width: 480px;
  background: var(--color-background-closer);
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;

  &-status {
    &-open,
    &-done {
      border-left: 5px solid var(--color-blue-700);
    }

    &-discarded {
      border-left: 5px solid var(--color-border-dark);
    }

    &-icon {
      position: absolute;
      top: -9px;
      right: -22px;
      transform: rotate(45deg);
      padding: 15px 27px 5px;

      &-done {
        background: var(--color-echometer-green);

        &-check {
          transform: rotate(-45deg);
        }
      }

      &-discarded {
        background: var(--color-border-dark);
      }
    }
  }

  &-title {
    font-size: 24px;
    border: none;
    background: inherit;
    width: 100%;
    padding: 8px 8px 8px 2px;
    &:hover {
      background-color: var(--color-hover-tint);
    }
    &:focus {
      border: 2px solid var(--color-background-furthest);
      border-radius: 4px;
      background-color: inherit;
    }
  }

  &-details {
    margin: 24px 0;
    padding: 8px 8px 8px 2px;
    &:hover {
      background-color: var(--color-hover-tint);
    }
    &:focus {
      border: 2px solid var(--color-background-furthest);
      border-radius: 4px;
      background-color: inherit;
    }
  }

  &-responsible {
    @include font-nunito-light;
    margin-bottom: 8px;
  }

  &-assignee,
  &-add-assignee {
    background: var(--color-background-further)
      url(../../assets/avatar-icon.svg) 6px 6px no-repeat;
    border: 1px solid var(--color-divider);
    border-radius: 25px;
    padding: 10px 10px 10px 36px;
    margin-bottom: 24px;
  }

  &-add-assignee {
    background-color: var(--color-blue-600);
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;

    & button {
      margin-top: 16px;
      padding: 8px;
    }

    & button:hover {
      background: var(--color-hover-tint);
    }

    & button:active {
      background: var(--color-border-dark);
    }

    &-save {
      color: var(--color-echometer-green);
    }

    &-cancel {
      color: var(--color-red-700);
    }
  }
}
